.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  border: 2px dashed #666;
  margin-bottom: 24px;
  padding: 24px;
}

.groupButtons {
  display: flex;
  gap: 16px;
}

.wrapper button {
  font-size: 20px;
}
